
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.wrapper {
    display: flex;
        justify-content:flex-start;
        align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    list-style-type: none;
    margin-left: 450px;
}

.navLink:hover,
.navLink:focus {
    color: var(--button-hover)
}
.navLink:active {
    color: var(--button-hover);
}

