.section {
    padding-top: 48px;
    padding-bottom: 60px;
}

.galleryItem {
    overflow: hidden;
    border-radius: 12px;
    width: 292px;
        height: 312px;
}

.galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.wrapperFirst {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.location {
    display: flex;
    align-items: center;

        font-weight: 400;
            font-size: 16px;
        
            /* line-height: 24px; */
            line-height: 1.5;
            color: var(--main);
}

.list {
    display: flex;
    gap: 48px
}

.name {
    font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 1.33333;
        color: var(--main);

        margin-bottom: 8px;
}

.price {
    font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 1.33333;
        color: var(--main);
        margin-bottom: 28px;
}

.description {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        color: var(--text);
        margin-top: 28px;
}
