.hero {
    width: 100vw;

    background-image: linear-gradient(#00000080, #00000080), url('/images/heroBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 260px;
    padding-bottom: 260px;
}

.title {
    font-weight: 600;
        font-size: 48px;
    
        /* line-height: 32px; */
        line-height: 0.66667;
        color: var(--inputs);

    margin-bottom: 16px;
}

.text {
    font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 1.33333;
        color: var(--inputs);
        margin-bottom: 40px;
}

.button {
        margin-top: 24px;
        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding: 16px 48.5px;
            border-radius: 200px;
            width: 173px;
        
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -0.01em;
            color: var(--white);
            background: var(--button);
}