.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 8px;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 18px;
    border-radius: 999px;

    background: var(--badges);
font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    text-align: center;
    color: var(--main);;
}

/* якщо додаси іконки */
.icon {
    display: inline-flex;
    width: 18px;
    height: 18px;
}

.text {
    white-space: nowrap;
}