.btn {
    width: 32px;
    height: 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.icon {
    width: 18px;
    height: 18px;
    stroke: var(--main);
}

.btn:hover {
    transform: scale(1.1);
}

.active {
    border-color: var(--button-hover);
}

.active .icon {
    stroke: var(--button-hover);
    fill: var(--button-hover);
}