.btn {
    width: 32px;
    height: 32px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #e4e7ec;
    background: #ffffff;

    cursor: pointer;
    transition: all 0.2s ease;
}

.icon {
    width: 18px;
    height: 18px;
    stroke: #101828;
}

.btn:hover {
    background: #f9fafb;
}

.active {
    border-color: #e44848;
}

.active .icon {
    stroke: #e44848;
    fill: #e44848;
}