.wrapper {
    display: flex;
    flex-direction: row;
    padding: 24px;

    border: 1px solid var(--gray-light);
        border-radius: 20px;
        width: 888px;
            height: 368px
}

.wrapperInfo {
    display: flex;
    flex-direction: column;

    margin-left: 24px;
}

.wrapperFirst {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.wrapperSecond {
    display: flex;
    flex-direction: row;

    gap:16px;
    margin-bottom: 24px;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 4px
}

.priceAndFav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price {
    font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 1.33333;
        color: var(--main);
}

.name {
    font-weight: 600;
        font-size: 24px;
    
        /* line-height: 32px; */
        line-height: 1.33333;
        color: var(--main);
}

.description {
    margin-bottom: 24px;
display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* ← СКІЛЬКИ РЯДКІВ ПОКАЗУВАТИ */
    overflow: hidden;

    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        color: var(--text);
}

.button {
    margin-top: 24px;

    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
       padding: 16px 40px;
        border-radius: 200px;
        width: 166px;

        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
                letter-spacing: -0.01em;
                color: var(--white);
                background: var(--button);
}